//Fonts
$primary-font: "Space Grotesk", sans-serif;
$secondary-font: 'Merriweather', serif;

//Colors

$black1: #151515;
$black2: #242424;
$green: #4EE1A0;
$white: #FFFFFF;
$grey: #D9D9D9;

//Font Sizes

$font-XL: space Grotesk Bold 88px 88px Line -2.5 line-height;

