$primary-font: "Merriweather", serif;
$secondary-font: "Poppins", sans-serif;

//Colors
$pink: #DB2A6B ;
$white: #FFFFFF;
$cian: #60D3D9;
$violet: #6E1FED;
$yellow: #F4B840;
$orange: #FF7E29;
$grey: grey;


