body{
  margin:0;
  padding:0;
  background-color: rgb(22, 22, 22);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color:white;
}
.circles{
  border: 1px solig grey;
  position: absolute;
  z-index: .5;
  .min__circle{
    position: absolute;
    border-radius: 100%;
    width:850px;
    height: 850px;
    border: 1px solid grey;
    top: 450px;
    left: 1090px;
    z-index:-2;
  }
  .max__circle{
    position: absolute;
    width: 1055px;
    height: 1100px;
    border-radius: 100%;
    border: 1px solid grey;
    top: 180px;
    left:  845px;
    z-index:-1;
  }
}
