.container{
  .information{
    display: flex;
    margin-top: 90px;
    gap:80px;
    .main__container{
      display:flex;
      align-items: center;
      justify-content: center;
      .logo{
        background-color: rgb(61, 60, 60);
        border-radius: 8px;
        width: 55px;
        height: 55px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      h3{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 50px;
      }
    }
  }
}
.separador{
  display: flex;

  .images{
    position: relative;
    .imagen1{
      width:240px ;
      height:500px;
      background-color: $violet;
      border-radius: 90px;
      position: absolute;
      right:510px;
      top:80px;
      img{
        position:absolute;
        border-radius: 90px;
        border:0;
      }
    }
      .imagen2{
      width:240px ;
      height:240px;
      background-color:$pink;
      border-radius:90px;
      position: absolute;
      right:510px;
      bottom:-60px;
      img{
        position:absolute;
        border-radius: 90px;
      }
    }
    .imagen3{
      width:240px ;
      height:240px;
      background-color:$cian;
      border-radius:90px;
      position: absolute;
      right:245px;
      top:80px;
      img{
        position:absolute;
        border-radius: 90px;
      }
    }
    .imagen4{
      width:240px ;
      height:500px;
      background-color:$orange;
      border-radius:90px;
      position: absolute;
      right:245px;
      bottom:-50px;
      img{
        position:absolute;
        border-radius: 90px;
      }
    }
    .imagen5{
      width:240px ;
      height:500px;
      background-color:$yellow;
      border-radius:90px;
      position: absolute;
      right:-20px;
      bottom:55px;
      img{
        position:absolute;
        border-radius: 90px;
      }
    }
  }
}
