footer{
    width: 154px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
    .img_logo{
        margin-top: 39px;
    }
    .footer_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        
    }
}
//Desde Aqui empieza el breakpoint para tablet
footer{
@include breakpoint(tablet){
    border-top: 1px solid $grey;
    width: 709px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    .footer_main{
        margin: 30px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img_logo{
            margin-top: 0;
        }
        .footer_nav{
            margin-top: 0;
            gap:32px;
            a img{
                width: 24px;
                height: 24px;
            }
        }
    }
}
}