footer{
    width: 154px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
    .img_logo{
        margin-top: 39px;
    }
    .footer_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        
    }
}
