.main_header{
    width: 154px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}
.ovalos li{
    border: 0.2px solid rgb(63, 63, 63);
    width: 530px;
    height: 80px;
    top:100px;
    left:-342px;
    position: relative;
    border-radius: 50%;
    margin-top:-70px;
    z-index: -1;
}
.hero_photo{
    .perfil_image{
        width: 175px;
        height: 242px;
        background-image: url("../img/perfil_photo.png");
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        top: -125px;
        left: 20px;
    }
    .circle_border{
        width: 129px;
        height: 129px;
        border: 1px solid $white;
        border-radius: 100%;
        position: absolute;
        right: -65px;
        top:260px;
        z-index: 0;
    }
}
.hero_presentation{
    z-index: 1;
    color:$white;
    display: block;
    .hero_title{
        font-family: $primary-font;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
        text-align: center;

        span{
            border-bottom: 3px solid $green;
        }
    }
    .hero_text{
        font-family: $primary-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
    }
    .contact_me_button_header{
        width: 120px;
        height: 38px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        a{
            font-family: $primary-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 2.29px;
        }
        a:hover{
            color: $green;
        }
    }
}
