.main_header{
    width: 154px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}
.ovalos li{
    list-style: none;
    border: 1px solid rgb(85, 85, 85);
    width: 530px;
    height: 80px;
    top:70px;
    left:-342px;
    position: relative;
    border-radius: 50%;
    margin-top:-70px;
    z-index: -1;
}
.hero_photo{
    .perfil_image{
        width: 175px;
        height: 242px;
        background-image: url("../img/perfil_photo.png");
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        top: -125px;
        left: 20px;
    }
    .circle_border{
        width: 129px;
        height: 129px;
        border: 1px solid $white;
        border-radius: 100%;
        position: absolute;
        right: -65px;
        top:260px;
        z-index: 0;
    }
}
.hero_presentation{
    z-index: 1;
    color:$white;
    display: block;
    .hero_title{
        font-family: $primary-font;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
        text-align: center;
        span{
            border-bottom: 3px solid $green;
        }
    }
    .hero_text{
        font-family: $primary-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
    }
    .contact_me_button_header{
        width: 120px;
        height: 38px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        a{
            font-family: $primary-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 2.29px;
        }
        a:hover{
            color: $green;
        }
    }
}
.meet{
    display: none;
}

// A partir de Aqui empiezan los breackpoints para tablet

header{
    @include breakpoint(tablet){
        min-width: 768px;
        max-width: 1024px;
        .main_header{
            width: auto;
            height: 32px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin: 30px 30px 0 30px;
            padding:0;
            .header_logo{
                img{
                    width: 172px;
                    height: 32px;
                } 
            }
            .header_nav{
                margin-top: 0;
                gap:32px;
                a img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .ovalos{
            position: absolute;
            left: 75px;
            top: 86px;
        }
        .main_presentation{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: center;
            gap: 40px;
            margin-top: 40px;
            .hero_photo{
                .perfil_image{
                    background-image: none;
                    background-image: url(../img/perfil_photo_tablet.png);
                    width: 322px;
                    height: 484px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: relative;
                    top:20px; 
                    left:210px;                  
                }
                .circle_border{
                    width: 130px;
                    height: 130px;
                    right: -65px;
                    top: 470px;
                    z-index: 2;
                }
            }
            .hero_presentation{
                position: absolute;
                width: 445px;
                height: 449px;
                left: 32px;
                top:105px;
                .hero_title{
                    width: 443px;
                    height: 233px;
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 72px;
                    letter-spacing: -2.05px;
                    text-align: left;
                    h1{
                     display: block; 
                    }
                    span{
                        border-bottom: 6px solid $green;
                     }
                }
                .hero_text{
                    font-family: $primary-font;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin-top: 60px;
                }
                .contact_me_button_header{
                    margin-top: 34px;
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                    margin-left:0;
                }
            }
        }
        .meet{
            display: inline;
        }
    }
}

//Aqui empieza el breakpoint de desktop

header{
    @include breakpoint(desktop){
        min-width: 1025px;
        max-width: auto;
        .main_header{
            width: auto;
            height: 32px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin: 39px 165px 0 165px;
            padding:0;
            .header_logo{
                img{
                    width: 172px;
                    height: 32px;
                } 
            }
            .header_nav{
                margin-top: 0;
                gap:32px;
                a img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .ovalos{
            position: absolute;
            left:250px;
            top: 133px;
        }
        .main_presentation{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: center;
            gap: 40px;
            margin-top: 40px;
            .hero_photo{
                .perfil_image{
                    background-image: none;
                    background-image: url(../img/photo_perfil_desktop.png);
                    width: 445px;
                    height: 618px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: relative;
                    top:15px; 
                    left:350px;                  
                }
                .circle_border{
                    width: 130px;
                    height: 130px;
                    right: 530px;
                    top: 520px;
                    z-index: 2;
                }
            }
            .hero_presentation{
                position: absolute;
                width: 709px;
                height: 303px;
                left: 165px;
                top:140px;
                .hero_title{
                    font-family: Space Grotesk;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 88px;
                    line-height: 88px;
                    letter-spacing: -2.5px;
                    text-align: left;
                    h1{
                     display: block; 
                      width: 443px;

                    }
                    span{
                        border-bottom: 6px solid $green;
                     }
                }
                .hero_text{
                    width: 445px;
                    height: 84px;
                    text-align: left;
                    font-family: $primary-font;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0px;
                }
                .contact_me_button_header{
                    margin-top: 34px;
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                    margin-left:0;
                }
            }
        }
        .meet{
            display: none;
        }
    }
}
