.hero{
  max-width: 58%;
  margin-top: 10%;
  &__title{
    font-size: 80px;
    margin-bottom: 0;
    max-width: 80%;
  }
  &__subtitle{
    font-size: 22px;
    color:$grey;
    line-height: 1.5em;
    max-width: 80%;
    font-family: $secondary-font;

  }
}
