.decoration{
  border: 2px solid #DB2A6B;
  width: 25px;
  height: 0;
  position:absolute;
  top:30px;
  left:0px;
}
li:hover{
        text-decoration: underline  #DB2A6B 4px;
        line-height:1px;
}
