.technologies{
    margin-top: 80px;
    width: 345px;
    height: 604px;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    color:$white;
    margin-left: auto;
    margin-right: auto;
    .section_technologies{
        width: 345px;
        height: 522px;
        .subsection{
            div{
             padding-top: 40px;
             margin-left: auto;
             margin-right: auto;
             width: 345px;
             height: 87px;
             text-align: center;
             margin-bottom: -35px;
             h2{
                 margin-bottom: 0;
                 font-family: $primary-font;
                 font-weight: 700;
                 font-size: 32px;
                 line-height: 40px;
                 letter-spacing: -1px;
                 text-align: center;
                 padding-top: 0;
                 margin-top: 0;
             }
             p{
                 margin-top: 0;
                 font-family: $primary-font;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: center;
             }
            }
        }
       .ovalos_center li{
                     list-style: none;
                     border: 0.2px solid grey;
                     width: 530px;
                     height: 80px;
                     top:15px;
                     right:-200px;
                     position: relative;
                     border-radius: 50%;
                     margin-top:-70px;
                     z-index: -1;
        }
    }
}

//Desde Aqui empieza el breackpoint de tablet

.technologies{
    @include breakpoint(tablet){
           min-width: 708px;
           max-width: 1000px;
           border-bottom: 0;
           .section_technologies{
                    
                .subsection{  
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    margin: 52px 0px 52px 0px;
                    div{
                        width: 345px;
                        height: 98px;
                        display: inline-block;
                    h2{
                        font-family: $primary-font;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 48px;
                        line-height: 56px;
                        letter-spacing: -1.5px;
                        text-align: left; 
                    }
                    p{
                        margin-top: 14px;
                        width: 345px;
                        height: 28px;
                        font-family: Space Grotesk;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0px;
                        text-align: left; 
                    }
                    }      
                }
                .ovalos_center{
                    width: 530px;
                    height: 129px;
               
                    li{
                         list-style: none;
                         border: 1px solid rgb(63, 63, 63);
                         width: 530px;
                         height: 80px;
                         top:63px;
                         right:-530px;
                         position: relative;
                         border-radius: 50%;
                         margin-top:-95px;
                         z-index: -1;
                          }
                }
        }
    }
}
