.contact{
    width: 343px;
    color: $white;
    margin-bottom: 87px;
    border-bottom: 1px solid $grey;
    .contact_title{
        font-family: $primary_font;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
        text-align: center;
    }
    .contact_description{
        font-family: $primary_font;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
    }
    .contact_message{
        div{
            font-family: $primary_font;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.22px;
            color:$grey;
        }
        input{
            width: 343px;
            border:0;
            border-bottom: 1px solid $grey;
            background: transparent;
            margin-bottom: 32px;
        }
        .mesagge{
            input{
                width: 343px;
                height: 107px;
                border:0;
                border-bottom: 1px solid $grey;
                background: transparent;
                margin-bottom: 32px;
                color: $green;
            }
        }
        .message_button{
                border-bottom: 0;
                margin-left: auto;
                width: 144px;
                height: 38px;
                margin-bottom: 87px;
                a{
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                }
        }
        .ovalos_footer li{
                     list-style: none;
                     border: 1px solid rgb(85, 85, 85);
                     width: 530px;
                     height: 80px;
                     top:-150px;
                     left:-342px;
                     position: relative;
                     border-radius: 50%;
                     margin-top:-70px;
                     z-index: -1;
                    }
    }
}

//Aqui comienza el breakpoin para tablet

@include breakpoint(tablet){
    .contact{
        width: 445px;  
        margin-left: auto;
        margin-right: auto;
        border:0;
        margin-top: 120px;
        .contact_title{
            font-family: $primary_font;
            font-weight: 700;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -2.05px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 445px; 
            margin-bottom: 20px;

        }
        .contact_description{
            font-family: $primary_font;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: center;        
        }
        .contact_message{
            div{
                font-family: $primary_font;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: -0.22px;
            }
            input{
                width: 445px; 
            }
            .mesagge{
                input{
                    width: 445px; 
                }
            }
            .message_button{
                width: 144px;
                height: 38px;
                a{
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                }
            }
            .ovalos_footer li{
                     list-style: none;
                     border: 1px solid rgb(85, 85, 85);
                     width: 530px;
                     height: 80px;
                     top:-82px;
                     left:-535px;
                     position: relative;
                     border-radius: 50%;
                     margin-top:-70px;
                     z-index: -1;
            }
        }
    }
}