.technologies{
    margin-top: 80px;
    width: 345px;
    height: 604px;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    color:$white;
    margin-left: auto;
    margin-right: auto;
    .section_technologies{
        width: 345px;
        height: 522px;
       div{
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 345px;
        height: 87px;
        text-align: center;
        margin-bottom: -35px;
        h2{
            margin-bottom: 0;
            font-family: $primary-font;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
            text-align: center;
            padding-top: 0;
            margin-top: 0;
        }
        p{
            margin-top: 0;
            font-family: $primary-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: center;
        }
       }
       .ovalos_center li{
                     list-style: none;
                     border: 0.2px solid rgb(63, 63, 63);
                     width: 530px;
                     height: 80px;
                     top:15px;
                     right:-200px;
                     position: relative;
                     border-radius: 50%;
                     margin-top:-70px;
                     z-index: -1;
}
    }
}