.proyects{
    color: $white;
    margin-top: 0;
    .section_proyects{
        .section_proyects_main{
            padding-top: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            .proyects{
                font-family: $primary-font;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: -1.14px;
                margin-bottom: 0;
            }
            .contact_me_button_proyect{
                width: 120;
                height: 38;
                top: 1px;
                left: 223px;
                opacity: 1;
                a{
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                }
            }
        }
        article{
            h2{
                font-family: $primary-font;
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0px;
            }
            .proyect_links{
                a{
                    font-family: $primary-font;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    color: $white;
                    text-decoration: none;
                    font-style: none;
                    text-transform: none;
                    color:white;
                    margin-right: 18px;
                }
            }
            .proyect_buttons{
                margin-top: 20px;
                margin-bottom: 20px; 
                height: 38px;  
                width: 271px;
                display: flex;
                justify-content: space-between;
                a{
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 2.29px;
                    gap:16px                                                    
                }
            }
        }
    }
}

//Desde aqui empieza el breackpoint para tablet

.proyects{
    @include breakpoint(tablet){
        .section_proyects{
            padding: 0px 15px 0px 15px;
            .section_proyects_main{
                display: flex;
                margin-bottom: 60px;
                .proyects{
                    font-family: $primary-font;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 72px;
                    letter-spacing: -2.05px;
                }
                .contact_me_button_proyect{
                    width: 120px;
                    height: 38px;
                    a{
                        font-family: $primary-font;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 2.29px;    
                    }
                }
            }
            .subarticle{
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin-bottom: 50px;
                .proyect_1_h2{
                    margin-bottom: 7px;
                }
            }    
        }
    }
}