button a{
    text-decoration: none;
    text-transform: none;
    background-color: $black2;
    color:white;
    border: 0;
    padding:0;
    padding-bottom: 10px;
}
button{
    text-decoration: none;
    text-transform: none;
    background-color: $black2;
    color:white;
    border: 0;
    padding:0;
    padding-bottom: 10px;
    border-bottom: 1px solid $green;
    
    
}
button a:hover{
    color:$green;
}
