.buttons{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  &__color{
    background-color: $pink;
    border-radius: 15px 15px 15px 0px;
    border:0;
    max-width: 220px;
    min-width: 220px;
    height: 50px;
    font-size: 16px;
    a{
    text-decoration: none;
    color:white;
    font-family: $secondary-font ;
    font-weight: 400;
    }
  }
  &__underline{
    font-family: $secondary-font;
    font-weight: 600;
    display:flex;
    margin-left: 50px;
    color:white;
    text-align: center;
    align-items: center;
    a{
      width: 1000px;
    }
    img{
      margin-left: 10px
    }
  }
}
.buttons__color:hover{
        background-color: whitesmoke;
        a{color:$pink;
          line-height: 1px;
          font-weight: bolder;
          font-size: 20px;
        }
}
.buttons__underline:hover{
  color:$pink;
  line-height: 1px;
  font-weight: bolder;
  font-size: 20px;
  img{
    color:$pink;
    line-height: 1px;
    font-weight: bolder;
    font-size: 20px;
  }
}

